*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.add-toDo {
    text-align: center;
}

input {
    border-radius: 5px;
    margin: 0 20px;
    padding: 3px 30px 3px 0;
}

button {
    padding: 3px;
}

.lista {
    margin: 30px 0;
}

.lista ul li {
    list-style: none;
    padding: 10px;
}

.lista ul {
    background-color: aqua;
    padding: 15px;
}

.lista ul li i {
    float: right;
}

.lista ul li:hover {
    background-color: lightblue;
}